@use "./utils/variables" as *;
@use "./components/clients";
@use "./components/our-work";
@use "./components/our-team";
@use "./components/strengths";
@use "./components/page-header";
@use "./components/logo";
@use "./components/navigation";
@use "./components/contact";
@use "./components/base";
@use "./components/imposter";
@use "./components/section";
@use "./components/modal";
@use "./components/button";
@use "./components/newsletter";
@use "./components/social-media";
@use "./components/portfolio";
@use "./components/overlay";
