$colorPrimary: #212121;
$colorSecondary: #2196f3;
$colorThird: #ffffff;
$colorBackground: #f5f4fa;
$colorBackgroundSecondary: #2f303a;
$colorText: #757575;
$colorIcon: #afb1b8;
$sectionPadding: 94px;
$fontWeightBold: 700;
$fontSizeTitle: 36px;
$lineHeightTitle: 1.17;
$letterSpacingTitle: 0.03em;
$marginBottomTitle: 50px;
$borderRadius: 4px;
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
