@use "../utils/variables" as *;
@use "../utils/mixins" as *;
.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-black);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
textarea {
  resize: none;
  font-size: 12px;
  line-height: $lineHeightTitle;
  letter-spacing: 0.01em;
}
::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
* {
  padding: 0;
  margin: 0;
}

.link {
  list-style-type: none;
}
.grid {
  list-style: none;
  &__style {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    .grid {
      &__style {
        display: flex;
      }
    }
  }
  @media (min-width: 1200px) {
    .grid {
      &__style {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
      }
    }
  }
}
