@use "../utils/variables" as *;
@use "../utils/mixins" as *;
.grid {
  &__clients-icon {
    fill: $colorIcon;
  }
}
.link__clients {
  display: flex;
  border: 1px solid $colorIcon;
  border-radius: $borderRadius;
  width: 210px;
  padding: 16px 52px;
  transition-property: border-color, fill;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
  &:hover,
  &:focus {
    border-color: $colorSecondary;
    .grid__clients-icon {
      fill: $colorSecondary;
    }
  }
  @include tablet {
    width: 226px;
    padding: 16px 60px;
  }
  @include desktop {
    width: 170px;
    padding: 16px 32px;
  }
}
