@use "../utils/_variables" as *;
.contact {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: none;
    margin: 21px 0;
    &__link-header {
      display: flex;
      align-items: center;
      color: $colorText;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      text-decoration: none;
      letter-spacing: 0.02em;
      transition-property: color, fill;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
      &:hover,
      &:focus {
        color: $colorSecondary;
        .contact__icon {
          fill: $colorSecondary;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    &__link-header {
      display: flex;
      align-items: center;
      color: $colorText;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      text-decoration: none;
      letter-spacing: 0.02em;
      transition-property: color, fill;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
      &:hover,
      &:focus {
        color: $colorSecondary;
        .contact__icon {
          fill: $colorSecondary;
        }
      }
    }
  }

  &__link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: $letterSpacingTitle;
    display: flex;
    padding-bottom: 9px;
    transition-property: color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;
    &:hover,
    &:focus {
      color: $colorSecondary;
    }
  }
  &__icon {
    fill: $colorText;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;
    &:hover,
    &:focus {
      fill: $colorSecondary;
      cursor: pointer;
    }
  }
}
.contact-footer {
  background-color: $colorBackgroundSecondary;
  padding: 60px 0;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    @media (min-width: 768px) {
    }
    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }
  &__address {
    color: $colorThird;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: $letterSpacingTitle;
    display: flex;
    padding-bottom: 9px;
  }
  &__list {
    list-style-type: none;
    font-style: normal;
    display: flex;
    flex-direction: column;
  }
  &__join-us {
    justify-content: flex-start;
    &-title {
      color: $colorThird;
      font-weight: $fontWeightBold;
      font-size: 14px;
      line-height: $lineHeightTitle;
      letter-spacing: $letterSpacingTitle;
      margin-top: 12px;
      margin-bottom: 20px;
    }
  }
}
