@use "../utils/_variables" as *;
.imposter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1600px;
  &__title {
    font-size: 26px;
    color: $colorThird;
    font-weight: 900;
    max-width: 365px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-align: center;

    @media (min-width: 768px) {
    }
    @media (min-width: 1200px) {
      font-size: 44px;
      max-width: 696px;
    }
  }
}
