@use "../utils/variables" as *;
.logo {
  color: $colorSecondary;
  font-family: Raleway;
  font-weight: $fontWeightBold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: $letterSpacingTitle;
  &--header {
    color: $colorPrimary;
    font-family: Raleway;
    font-weight: $fontWeightBold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: $letterSpacingTitle;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  &--footer {
    color: $colorThird;
    font-family: Raleway;
    font-weight: $fontWeightBold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: $letterSpacingTitle;
    display: flex;
    padding-bottom: 20px;
  }
}
