@use "../utils/variables" as *;
.grid__work {
  display: flex;
  column-gap: 30px;
  justify-content: space-around;
  &-img {
    display: flex;
    position: relative;
    > .grid__work-dsc {
      position: absolute;
      background-color: rgba(47, 48, 58, 0.8);
      color: $colorThird;
      font-size: 14px;
      font-weight: $fontWeightBold;
      line-height: $lineHeightTitle;
      letter-spacing: $letterSpacingTitle;
      text-align: center;
      padding: 27px;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}
