@use "../utils/variables" as *;
.page-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(236, 236, 236, 1);
  &__menu {
    background-color: $colorThird;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__navigation {
    display: flex;
    align-items: center;
    column-gap: 93px;
  }
}
