@use "../utils/variables" as *;
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
  p {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: $letterSpacingTitle;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 55px 45px 49px 24px;
  }
}
.transform {
  position: relative;
  overflow: hidden;
  &:hover,
  &:focus {
    .overlay {
      transform: translateY(0);
      transition-property: transform;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
    }
  }
}
