@use "../utils/variables" as *;
.grid__portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
  transition-property: box-shadow;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
  &-item:hover,
  &-item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    .overlay {
      transform: translateY(0);
      transition: transform;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
    }
  }
  &-img {
    display: block;
  }
  &-dsc {
    border: 1px solid rgba(238, 238, 238, 1);
    border-top: none;
    padding: 20px 24px;
  }
  &-name {
    background-color: $colorThird;
    color: $colorPrimary;
    font-weight: $fontWeightBold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
  }
  &-text {
    color: $colorText;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: $letterSpacingTitle;
    padding-top: 0;
  }
}
