@use "../utils/variables" as *;
.section {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  &__title {
    color: $colorPrimary;
    font-weight: $fontWeightBold;
    font-size: $fontSizeTitle;
    line-height: $lineHeightTitle;
    letter-spacing: $letterSpacingTitle;
    text-align: center;
    margin-bottom: $marginBottomTitle;
  }
  &__heading {
    background-image: url("/goit-markup-hw-04/images/baner.jpg"),
      linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--work {
    padding-top: 0;
  }
}
