@use "../utils/variables" as *;
@use "../utils/mixins" as *;
.grid {
  &__strenghts-item {
    width: 450px;
    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }
  &__strengths-icon {
    padding: 25px 190px;
    margin-bottom: 30px;
    border-radius: $borderRadius;
    background-color: $colorBackground;
  }
  &__strengths-name {
    color: $colorPrimary;
    font-weight: $fontWeightBold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: $letterSpacingTitle;
    padding-bottom: 10px;
  }
  &__strengths-text {
    color: $colorText;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: $letterSpacingTitle;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .grid__strenghts-icon {
    padding: 25px 142px;
  }
}
@media (min-width: 1200px) {
  .grid {
    &__strengths-icon {
      padding: 25px 100px;
    }
  }
}
